<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="seveno.android.miniseconds">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Logins" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GameStartActivity"/>
        <activity android:name=".cardclick.CardStartActivity" />
        <activity android:name=".cardclick.CardMainActivity" />
        <activity android:name=".cardclick.CardOverActivity" />
        <activity android:name=".cardclick.CardClearActivity" />
        <activity android:name=".colorbrick.CBStartActivity" />
        <activity android:name=".colorbrick.CBMainActivity" />
        <activity android:name=".colorbrick.CBOverActivity" />
        <activity android:name=".colorbrick.CBClearActivity" />
        <activity android:name=".SignUp"></activity>
    </application>

</manifest>